.Profile {
    border: 1px solid #0044cc; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f0f8ff;
    width: 80%;
    max-width: 600px;
  }
  
  .Profile h2 {
    margin: 0;
    color: #0044cc; 
  }
  