html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #313FEE ;

  }
.sat-math-task-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-left: 32vw;
  }
  
  .sat-math-task-page h1 {
    text-align: center;
    color: #0033a0;
  }
  
  .task-container {
    max-height: 67vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-question {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0033a0;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #002a80;
  }
  
  .feedback {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
  }
  